.timelineCard {
  .divider {
    background: #fff;
    margin-top: -2px;
    margin-bottom: 15px;
  }

  .org {
    font-size: 18px;
    font-family: 'Spectral', serif;
    font-weight: 600;
  }

  .title {
    font-size: 14px;
    font-family: 'Spectral', serif;
    font-weight: 100;
    margin-bottom: 5px;
  }

  .keyPoint {
    font-size: 14px;
  }
}