.welcome {
  font-family: 'Crimson Text', serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;

  .primaryText {
    font-size: 100px;
    color: black;
  }

  .subText {
    font-size: 30px;
  }
}