.timeline {
  margin-top: 100px;

  .roundIcon {
    width: 40px;
    height: 50px;
    top: 30%;
    left: 36%;
  }

  .timelineElement  {
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    background: #667db6;
  }

  .experienceIcon {
    border-radius: 50px;
  }

  .nycHealthLogo {
    object-fit: contain;
    background: #fff;
  }
}

.verticalTimeline {
  max-width: 3000px;
}

@media screen and (max-width: 420px) {
  .timeline {
    margin-top: 50px;
    margin-bottom: 0;
    overflow: hidden !important;
    
    .roundIcon {
      width: 40px;
      height: 50px;
      top: 30%;
      left: 36%;
    }
  }
  
  .verticalTimeline {
    max-width: 300px;
  }
}