.mobileNavBar {
  font-family: 'Josefin Sans', sans-serif;

  .menuButton, button {
    position: absolute;
    top: 25px;
    right: 0;
    color: #fff;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.navLinkText {
  :first-child {
    font-family: 'Crimson Text', serif !important;
  }
}